<div class="container">
  <div class="col-md-4 offset-md-4 mt-4">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>En attente de confirmation pour: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :forbidden_ingredients, as: :text, label: "Ingrédients que je ne veux pas dans mes recettes",
              hint: "Séparez les ingrédients par des virgules",
            input_html: { autocomplete: "forbidden-ingredients" } %>
      <%= f.input :password,
                  hint: "Laisser vide si vous ne voulez pas le changer",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "Nous avons besoin de votre mot de passe actuel pour confirmer vos modifications",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions mb-4">
      <%= f.button :submit, "Mettre à jour", class: "btn btn-success" %>
    </div>
    <% end %>

    <div class="mb-4"><%= link_to "Retour", :back %></div>
  </div>
</div>
