<div class="container mt-5">
  <h1>Recettes générées</h1>

  <%= link_to "Rechercher une nouvelle recette", new_recipe_path, class: "btn btn-success mt-4" %>

  <% @recipes.each do |recipe| %>
    <div class="recipe-card">

      <% if recipe.title.downcase.include?("couscous") %>
        <%= image_tag "couscous.jpg", class: "img-fluid rounded mb-2" %>
      <% elsif recipe.title.downcase.include?("poulet") %>
        <%= image_tag "poulet.jpg", class: "img-fluid rounded mb-2" %>
      <% end %>

      <h3><%= link_to recipe.title, recipe_path(recipe) %></h3>

      <p class="meta">
        Note : <span><%= recipe.rating %>/5</span> —
        Créée le <%= recipe.created_at.strftime("%d/%m/%Y") %>
      </p>

    </div>
  <% end %>

</div>
