<div class="container mt-5">

    <h1 class="page-title">Toutes les recettes</h1>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
      <% @recipes.each do |recipe| %>
      <div class="col">
        <%= link_to recipe_path(recipe) do %>

          <div class="card h-100 border-0">
            <img src="<%= recipe.image_URL %>" class="card-img-top" alt="<%= recipe.title %>" style="height: 200px; object-fit: cover;">


          <div class="card-body">
            <h2 class="card-title"><%= recipe.title %></h2>
            </div>
          <div>
            <p>
              <%= truncate(recipe.short_description, length: 80) %>
            </p>
          </div>
          <div>
            <p class="card-footer mb-0">
              ⏱️ <%= recipe.preparation_time || "?" %> min
            </p>
          </div>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>

</div>
