<div class="container mt-5">

  <h1 class="mb-4"><%= @recipe.title %></h1>
  <p class="text-muted">Critique : <%= @recipe.rating %>/5</p>

  <h3 class="mt-4">Ingrédients</h3>
  <pre class="bg-light p-3 rounded"><%= @recipe.ingredient %></pre>

  <h3 class="mt-4">Preparation</h3>
  <pre class="bg-light p-3 rounded"><%= @recipe.preparation %></pre>

  <%= link_to "Nouvelle recette", new_recipe_path, class: "btn btn-primary mt-4" %>
</div>
