<div class="container text-center">
  <h1>Find & Cook</h1>

  <div class="my-4">
    <% if @messages&.any? %>
      <% @messages.each do |message| %>
        <p><strong><%= message.role == 'user' ? 'Moi' : 'Chef IA' %> :</strong> <%= message.content %></p>
      <% end %>
    <% else %>
      <p>Pour de bons repas il faut de bons ingrédients, qu'as-tu sous la main ? 😋</p>
    <% end %>

    <%= form_with url: search_recipes_path, method: :post, data: { turbo: false }, class: "d-flex justify-content-center mt-3" do |f| %>
      <div class="input-group" style="max-width: 500px;">
        <%= f.text_field :ingredients,
              placeholder: "ex: poulet, citron, ail...",
              class: "form-control form-control-lg rounded-start-pill border-0 shadow-sm" %>
        <%= f.submit "Envoyer",
              class: "btn btn-success btn-lg rounded-end-pill px-4" %>
      </div>
    <% end %>
  </div>

  <div id="carouselExampleInterval" class="carousel slide small-carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://images.unsplash.com/photo-1593560708920-61dd98c46a4e?q=80&&auto=format&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://images.unsplash.com/photo-1623428187969-5da2dcea5ebf?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1551024601-bec78aea704b?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
